{{#if group}}
{{!-- If statement lets us delete a group in real-time. --}}
<div class="mm-panel">
    <div class="mm-body">
        <div class="mm-content">
            <h3 class="mm-heading">{{group.name}}</h3>
            <br>
            {{#each group.members as |member|}}
                <p>{{member.first_name}} {{member.last_name}} <em>{{member.username}}</em></p>
            {{/each}}
        </div>
        <div>
            <button class="button-danger" {{action 'deleteGroup'}}>
                <span class="glyphicon glyphicon-minus"></span>
                Delete Group
            </button>
            {{#link-to 'groups.add-user' group.name}}
                <button>
                    <span class="glyphicon glyphicon-plus"></span>
                    Add User
                </button>
            {{/link-to}}
            {{#link-to 'groups.recommendations' group.name}}
                <button type="button">
                    <span class="glyphicon glyphicon-film"></span>
                    Movie Match
                </button>
            {{/link-to}}
        </div>
    </div>
</div>
{{/if}}
