<div class="panel panel-info">
  <div class="panel-heading">
	<h3 class="panel-title">{{movie.title}}</h3>
  </div>
  <div class="panel-body">
  	<p>{{movie.plot}}</p>
  	<p>{{movie.genre}}</p>
  	<p>
  	{{!-- {{star-rating item=m rating='5' on-click="updateRating" maxRating=10}} --}}
  	{{!-- could not get ^ this to work. the page had 5 glyphicon-star in the html for a rating of 5 but the glyphicons themselves were not on the screen --}}
  	{{#if movie.imdb_rating}}
  	{{#star-rating maxRating=10 item=movie rating=movie.imdb_rating as |stars set|}}
  		imdb rating
  		{{#each stars as |star|}}
    		<a {{action set star.rating}}>
      		{{#if star.full}}*{{/if}}
    		</a>
  		{{/each}}
	{{/star-rating}}
	{{/if}}
	</p>
	<p>user rating : need to add this</p>
    <p>{{#link-to 'movies.index' movie.id}}See more info{{/link-to}}</p>
  </div>
</div>
