<div class="mm-panel">
	<div class="mm-body">
		<div class="mm-content">
			<h3 class="mm-heading" >{{movie.title}}</h3>
			<p>{{movie.plot}}</p>
			<p>{{movie.genre}}</p>
			{{#if movie.user_rating}}
				<p class="star-rating user-rating">
					{{#star-rating maxRating=5 item=movie rating=movie.user_rating on-click=(action "updateRating") as |stars set|}}
						{{#each stars as |star|}}
							<a {{action set star.rating}}>
								{{#if star.full}}
									<span class="glyphicon glyphicon-star"></span>
								{{else}}
									<span class="glyphicon glyphicon-star-empty"></span>
								{{/if}}
							</a>
						{{/each}}
					{{/star-rating}}
				</p>
			{{else}}
				<p class="star-rating imdb-rating">
					{{#star-rating maxRating=5 item=movie rating=movie.imdb_rating on-click=(action "updateRating") as |stars set|}}
						{{#each stars as |star|}}
							<a {{action set star.rating}}>
								{{#if star.full}}
									<span class="glyphicon glyphicon-star"></span>
								{{else}}
									<span class="glyphicon glyphicon-star-empty"></span>
								{{/if}}
							</a>
						{{/each}}
					{{/star-rating}}
				</p>
			{{/if}}
			<p>{{#link-to 'movies.index' movie.id}}See more info{{/link-to}}</p>
		</div>
		{{#if movie.poster}}
			<img class="mm-poster" src="{{movie.poster}}" >
		{{/if}}
	</div>
</div>
